<div class="row ctr">
	<div class="medium-12 columns">
		<h3>FOOD IN YOUR NEIGHBORHOOD</h3>
	</div>
</div>


<div class="row">
	<div class="medium-12 columns">
		<% if flash[:notice] %>
		  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
		<% end %>
	</div>
</div>

<div class="row ctr">
	<div class="medium-12 columns">
		<%= form_tag restaurants_path, :method => 'get' do %>
		  <%= hidden_field_tag :current_user_location, '' %>


		  <p><%= text_field_tag :search, params[:search], class: 'entry big' %></p>

		
		  <%= submit_tag "Find Food Now", :name => 'find_food_based_on_search', class: "button light" %>
		  <%= submit_tag "Decide For Me", :name => 'find_food_based_on_history', class: "button light" %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns ctr">
		<hr>
	</div>
</div>


<% if params[:find_food_based_on_history] || params[:find_food_based_on_search] %>
	<div id='query-restaurants'>
		<div class="restaurant">
			<%= render partial: "restaurants/partials/restaurant", collection: @restaurants, as: :restaurant %>
		</div>
	</div>
<% else %>
	
	<div class="row ctr">
		<div class="medium-12 columns">
			<h4>RESTAURANTS OF THE DAY</h4>
			<h5><%= Date.today.to_s(:long) %></h5>
		</div>
	</div>

	<!-- re-render whenever someone votes on a restaurant -->
	<%= react_component('RestaurantOfTheDayBox', {:all_restaurants => @restaurants_of_the_day.to_json}) %>


	<div id='historical-restaurants'>
		<div class="restaurant">
			<%= render partial: "restaurants/partials/historical_restaurant", collection: @historical_restaurants, as: :historical_restaurant %>
		</div>
	</div>

	<div class='row pad5'>
		<div class='medium-12 columns ctr'>
		  <div id='paginator'>
		    <%= paginate @historical_restaurants, remote: true %>
		  </div>
		</div>
	</div>


<% end %>

















